<div id="chat" class="ui vertical stripe segment tertiary">
    <h1 class="ui header container">
        <i class="comment icon"></i>
        <div class="content"> Chat
            <div class="sub header">Voice and Text chat.</div>
        </div>
    </h1>
    <div class="ui center aligned header container">
        <a href="https://discordapp.com/invite/0dsO28CT2jPfuW05?utm_source=Discord%20Widget&utm_medium=Connect" class="ui massive primary button">Join Chat</a>
    </div>
    <div class="ui text container">
        <iframe class="ui container" src="https://discordapp.com/widget?id=115145950212784131&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
</div>