<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}} | {{.Site.Title}}</title>
    <link rel="stylesheet" type="text/css" href='/assets/semantic/dist/semantic.min.css'/>
    <link rel="stylesheet" type="text/css" href='/css/homepage.css'/>
</head>
<body class="pushable">
<!-- Page Contents -->
<div class="pusher">
    {{partial "header" .}}
    <div class="ui vertical stripe segment text container">
        <h1>{{.Title}}</h1>
        {{.Content}}
    </div>
    {{partial "footer" .}}
</div>

<script src="assets/jquery/dist/jquery.min.js"></script>
<script src="assets/semantic/dist/semantic.min.js"></script>
</body>
</html>