<div class="ui inverted vertical header masthead center aligned segment" id="masthead">
    <video loop muted autoplay poster="images/video-poster.jpg" class="intro-video">
        <source src="ark.mp4" type="video/mp4"/>
    </video>
    <div class="ui container">
        <div class="ui huge secondary inverted pointing menu">
            <a href="" class="toc item">
                <i class="sidebar icon"></i>
            </a>
            {{partial "homemenu" .}}
        </div>
        <div class="ui text container">
            <h1 class="ui inverted header">Best Ark Server</h1>
            <h2 class="ui inverted header">Friendly, PVE, Community Server</h2>
            <a href="http://www.gametracker.com/server_info/158.69.23.122:17615/" target="_blank">
                <img src="http://cache.www.gametracker.com/server_info/158.69.23.122:17615/b_350_20_323957_202743_F19A15_111111.png" border="0" width="700" height="40"/>
            </a>
        </div>
        <div class="ui large buttons container">
            <a class="ui orange left labeled icon inverted button" href=https://arkservers.net/server/158.69.23.122:17616/upvote>
                <i class="icon star"></i>
                <span>Vote for us</span>
            </a>
            <a class="ui blue left labeled icon inverted button" href=http://chat.bestarkserver.com>
                <i class="icon unmute"></i>
                <span>Chat with us on Discord</span>
            </a>
            <a class="ui grey left labeled icon inverted button" href=http://steamcommunity.com/groups/BestArkServer>
                <i class="icon steam"></i>
                <span>Steam Community</span>
            </a>
            <a class="ui green left labeled icon inverted button" href=steam://connect/158.69.23.122:17616>
                <i class="icon play"></i>
                <span>Join 24/7 PVE Server</span>
            </a>
        </div>
    </div>
</div>