<div class="ui inverted vertical masthead center aligned segment" id="masthead">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            {{partial "menu" .}}
        </div>
    </div>

    <div class="ui text container">
        <h1 class="ui inverted header">
            Best Ark Server
        </h1>
        <h2>Friendly, PVE, Community Server</h2>
        <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
</div>