{{ $urlPre := "http://api.embed.ly/1/extract?key=14045eca3d45445aa1f234d96aaad59d&url=http%3A%2F%2Fsteamcommunity.com%2Fsharedfiles%2Ffiledetails%2F%3Fid%3D" }}
<div class="ui vertical secondary stripe segment" id="mods">
    <h1 class="ui header container">
        <i class="plug icon"></i>
        <div class="content">
            Mods
            <div class="sub header">From the Ark Steam Workshop</div>
        </div>
    </h1>
    <div class="ui container">
        <p>These are the mods we run or plan on running on the server. For best performance subscribe to these mods with the steam account you play on the server with.</p>
        <p>If you're having trouble with mods installing make sure you</p>
        <a href="http://gaming.stackexchange.com/a/144275">enable downloads in steam settings</a>
    </div>
    <div class="ui three column center aligned container grid">
        {{ range .Site.Data.ark.data.mods }}
        <div class="column">
            <a class="ui fluid image link violet card" href="http://steamcommunity.com/sharedfiles/filedetails/?id={{.}}">
                {{ $dataJ := getJSON $urlPre . }}
                <div class="image">
                    {{range first 1 $dataJ.images }}
                    <img src="{{.url}}"/>
                    {{end}}
                </div>
                <div class="content">
                    <div class="header">{{replace $dataJ.title "Steam Workshop ::" ""}}</div>
                </div>
                <div class="extra content">
                    <div class="description left aligned">{{$dataJ.description}}</div>
                </div>
            </a>
        </div>
        {{end}}
    </div>
</div>