<!DOCTYPE html>
<html lang="en">
<head>
    {{> meta }}
    <title>{{Site.Title}}</title>
    <link rel="stylesheet" type="text/css" href='assets/semantic/dist/semantic.min.css'/>
    <link rel="stylesheet" type="text/css" href='css/homepage.css'/>
    <link rel="stylesheet" type="text/css" href='assets/slick-carousel/slick/slick.css'/>
    <link rel="stylesheet" type="text/css" href='assets/slick-carousel/slick/slick-theme.css'/>
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
    <div class="ui large top inverted huge fixed hidden menu">
        <div class="ui container">
            {{> homemenu }}
        </div>
    </div>
    {{> masthead }}
    {{> rates }}
    {{> rules }}
    {{> news }}
    {{> mods }}
    {{> chat }}
    {{> screenshots }}
    {{> about }}
    {{> footer }}

    <script src="assets/jquery/dist/jquery.min.js"></script>
    <script src="assets/semantic/dist/semantic.min.js"></script>
    <script src="assets/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="assets/stickyFooter/dist/jquery.stickyFooter.min.js"></script>
    <script src="assets/slick-carousel/slick/slick.min.js"></script>
    <script src="assets/jquery-rss/dist/jquery.rss.min.js"></script>
    <script src="assets/moment/min/moment.min.js"></script>

    <script src="scripts/masthead.js"></script>
    <script src="scripts/scroll-to-anchor.js"></script>
    <script src="scripts/stickyfooter.js"></script>
    <script src="scripts/slick.js"></script>
    <script src="scripts/news.js"></script>
</body>
</html>