<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Site.Title}}</title>
    <link rel="stylesheet" type="text/css" href='assets/semantic/dist/semantic.min.css'/>
    <link rel="stylesheet" type="text/css" href='css/homepage.css'/>
    <link rel="stylesheet" type="text/css" href='assets/slick-carousel/slick/slick.css'/>
    <link rel="stylesheet" type="text/css" href='assets/slick-carousel/slick/slick-theme.css'/>
</head>
<body class="pushable">
    {{$ark := .Site.Data.ark.data}}
    <!-- Following Menu -->
    <div class="ui large top inverted huge fixed hidden menu">
        <div class="ui container">
            {{partial "homemenu" .}}
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu left">
        {{partial "homemenu" .}}
    </div>


    <!-- Page Contents -->
    <div class="pusher">
        {{partial "masthead" .}}
        {{partial "rates" .}}
        {{partial "news" .}}
        {{partial "rules" .}}
        {{partial "mods" .}}
        {{partial "screenshots" .}}
        {{partial "about" .}}
        {{partial "footer" .}}
    </div>

    <script src="assets/jquery/dist/jquery.min.js"></script>
    <script src="assets/semantic/dist/semantic.min.js"></script>
    <script src="assets/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="assets/stickyFooter/dist/jquery.stickyFooter.min.js"></script>
    <script src="assets/slick-carousel/slick/slick.min.js"></script>
    <script src="assets/jquery-rss/dist/jquery.rss.min.js"></script>
    <script src="assets/moment/min/moment.min.js"></script>

    <script>
        $(document).ready(function () {
            {{template "partials/scripts/masthead.js"}}
            {{template "partials/scripts/waypoints.js"}}
            {{template "partials/scripts/scroll-to-anchor.js"}}
            {{template "partials/scripts/stickyfooter.js"}}
            {{template "partials/scripts/slick.js"}}
            {{template "partials/scripts/news.js"}}
        });
    </script>
</body>
</html>